div#calendar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 20px 1fr;
  background-color: lightblue;
  width: 350px;
  height: 350px;
}

div#calendar div#days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

div#calendar div#days-container span.day-spacer {
  background-color: purple;
  grid-column-start: 1;
}

div#calendar div#days-container span.day-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  user-select: none;
  cursor: pointer;
}

div#calendar div#days-container span.day-box:hover {
  background-color: blue;
}

div#calendar div#days-container span.day-box.current-date {
  background-color: yellow;
}

div#calendar div#days-container span.day-box.current-date:hover {
  background-color: blue;
}

div#calendar div#days-container span.day-box.selected-date {
  background-color: green;
}

div#calendar div#days-container span.day-box.selected-date:hover {
  background-color: blue;
}

div#calendar div#days-container span.day-box.current-date.selected-date {
  background-color: lightgreen;
}

div#calendar div#days-container span.day-box.current-date.selected-date:hover {
  background-color: blue;
}

div#calendar div#month-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  background-color: red;
}

div#calendar div#month-header span#month-back {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: lightgrey;
  height: 30px;
  user-select: none;
  cursor: pointer;
}

div#calendar div#month-header span#month-label {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 7;
  user-select: none;
  cursor: default;
}

div#calendar div#month-header span#month-next {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  background-color: lightgrey;
  height: 30px;
  user-select: none;
  cursor: pointer;
}

div#calendar div#days-of-week-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: azure;
}

div#calendar div#days-of-week-header span.day-label {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: default;
}
