#events {
  display: grid;

  gap: 1rem;

  grid-template-columns: 1fr;
}

.event {
  border: grey 1px solid;

  border-radius: 0.25rem;

  background-color: hsla(0, 0%, 60%, 50%);
}

.image-container {
  max-height: 250px;

  width: 100%;

  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

@media (min-width: 768px) {
  #events {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-container {
    max-height: 400px;
  }
}